body{
    background-image: url('background.jpg');
    background-size: cover;
}

#card-spacing{
    margin: 40px;
}

.carousel-img{
    margin-left: 5px;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
}
